# Copie para .env e ajuste os valores

# PostgreSQL do Serviço de Perfil
POSTGRES_DB=investor_profile
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_URL=jdbc:postgresql://postgres:5432/investor_profile
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
